<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
  {% if page %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
  {% elif section %}
    {% if section.description %}
      <meta name="description" content="{{ section.description }}">
    {% endif %}
  {% else %}
    <meta name="description" content="{{ config.description }}">
  {% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ get_url(path='css/menu.css') | safe }}">
</head>
<body>
  <div class="page">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
