{% extends "base.html" %}
{% import "macros.html" as m %}

{% block title %}{{ config.title }}{% endblock %}

{% block content %}
<main class="home">
  {% include "partials/nav.html" %}

  {% include "partials/dishes-data.html" %}

  <section
    class="dishes-of-the-day"
    aria-labelledby="dotd-heading"
    data-count="{{ config.extra.dishes_of_the_day_count }}"
    data-root="{{ get_url(path='/') | safe }}"
  >
    <h2 id="dotd-heading" class="dishes-of-the-day__heading">Dishes of the day</h2>
    <ul id="dotd-list" class="dishes-of-the-day__list"></ul>
  </section>
</main>
<script src="{{ get_url(path='js/dishes-of-the-day.js') | safe }}" defer></script>
{% endblock %}
